{% load static %}

<html>
    <head>

      <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link  rel="stylesheet" href="{% static "app/custom_css/new_custom.css"%} " type="text/css"/>
      <link  rel="stylesheet" href="{% static "app/custom_css/media_queries.css"%} " type="text/css"/>
      <link href="{% static "app/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    </head>
    <body class="fbody">
    <nav class="navbar navbar-default" style="margin-bottom: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "home" %}">Janjaz</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url "forums:forums_forums" %}">Forums</a></li>
          <li><a href="#">Topics</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Search</a></li>
        </ul>
      </div>
    </nav>
        {% block content %}
        {% endblock %}
    
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <script rel="script" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>