{% extends "forums/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>{{ post.title }}</h4>

            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input role="button" value="Edit" type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}