{% extends "forums/base.html"%}
{% load static %}

{%block content %}
<div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <h1 id="f-title">{{ thread }}</h1>
        </div>
        <!-- thread button -->
          <span id="thread-id" data-id="{{ thread.id }}"></span>
        <div class="col-md-2 btn-thread " id="btn-thread-up">
          <a role="button" href="{% url "forums:forums_reply_create" thread.id %}" class="btn btn-primary">New thread</a>
        </div>
      </div>
      <!-- column box -->
      {% for post in posts %}
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div>{% include "forums/post.html" %}</div>
        </div>
      </div>
      {% endfor %}
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <form  class="form" method="post" action="">
                  {% csrf_token %}
                  <div class="lead emoji-picker-container">
                      <textarea name="content" class="form-control textarea-control" rows="3" id="comment" placeholder="Leave a reply" data-emojiable="true"></textarea>
                  </div>

                  <div class="checkbox">
                      <label><input name="subscribe" type="checkbox" value="subscribe">Subscribe</label>
                  </div>
                  <input type="submit" id="submit-button" role="button" class="btn btn-success" value="Reply">
              </form>
          </div>
      </div>
</div>
{% endblock %}

{% block localscripts %}
     <script src="{% static "js/flag_post.js"%}"></script>
     <script src="{% static "lib/js/nanoscroller.min.js"%}"></script>
     <script src="{% static "lib/js/tether.min.js"%}"></script>
     <script src="{% static "lib/js/config.js"%}"></script>
     <script src="{% static "lib/js/util.js"%}"></script>
     <script src="{% static "lib/js/jquery.emojiarea.js"%}"></script>
     <script src="{% static "lib/js/emoji-picker.js"%}"></script>
     <script src="{%static "js/like_post.js"%}"></script>
     <script src="{%static "js/reply.js"%}"></script>
{% endblock %}