{% extends "forums/base.html "%}
{%block content %}
<div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <h1 id="f-title">{{ thread }}</h1>
        </div>
        <!-- thread button -->
        <div class="col-md-2 btn-thread " id="btn-thread-up">
          <a role="button" href="{% url "forums:forums_reply_create" thread.id %}" class="btn btn-primary">New thread</a>
        </div>
      </div>
      <!-- column box -->
      {% for post in posts %}
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="threadWrapper">
            <div class="col-md-3 u-info-wrapper">
              <div class="circle" id="f-avatar">
              </div>
              <div class="fu-info">
                <p><a href=""><strong>{{ post.author }}</strong></a></p>
                <p>{{post.author.date_joined}}</p>
                <p>{{ post.author.country_of_origin }}</p>
              </div>
            </div>
            <div class="col-md-8">
              <p class="p-style">
                  {{ post.content }}
              </p>
              
              <p class="likes">
                
                <span>0 </span>

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                  </span>

                  <span style="padding-left: 20px;" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                  </span>

              </p>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-2 btn-thread">
          <a role="button" href="{% url "forums:forums_reply_create" thread.id %}" class="btn btn-primary">New thread</a>
        </div>
      </div>
{% endblock %}