
.navbar-nav > li > a {
 /* padding-bottom: 0 !important;*/
}

.search-form .form-group {
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 50px;
  margin-left: 90px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: block;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 60%;
  border-radius: 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: 3px;
  right: 1px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #283f55;
  left: initial;
}

a {
  display: block;
}

.header {
  box-sizing: border-box;
  padding: 25px 0;
  font-size: 30px;
  color: #fff;
}
.career {
  background: #2592df;
}

.services {
  background: #ac7be2;
}

.events {
  background: #ff8f00;
}

.content {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px 35px;
    background: #f8fbfb;
    min-height: 160px;
}

.content a {
  text-decoration: none;
}

.content .main-txt:hover {
  color: #1b2733 !important;
}

.content .main-txt {
   margin: 0 0 15px 0;
   font-size: 18px;
   font-weight: 600;
   color: #2d4054;
   cursor: pointer;
   -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   transition: all  250ms ease-in-out;
}

.content .sub-txt {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.content .sub-txt:hover {
  color: #414747 !important;
}

@media (max-width: 1199px) and (min-width: 992px)
{
  .content {
    min-height: 170px;
  }
}

.header-align {
  /*font-family: "Open Sans",sans-serif;*/
  font-size: 0.85714em;
}

.subtitle {
    font-size: 1.75em;
    text-align: center;
    color: #8b9393;
    line-height: 1.6;
    margin: 0 0 70px 0;
}

section.stats {
  background: transparent url("../img/antalya.jpg") 
  no-repeat fixed 50% 0/cover;
  position: relative;
  height: 255px;
}

.stats .txt {
  color: #fff;
  font-size: 40px;
  font-weight: 700px;
  line-height: 1.43;
}

.btn-outline:hover#comm {
 background: #343d48 !important;
}