
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    width: 100%;
}

.container-fluid {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

.container {
    width:100%;
    max-width:none;
    margin: 0;
    }

a {
    text-decoration: none;
}

p {
    font-size: 15px;
}

.circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	}

#u-avatar {
    background: url('../images/img/me-profile.jpg') no-repeat center center;
}    

.u-box {
    padding: 100px;
}

.u-info {
    /*text-align: center;*/
    padding-left: 15px;
}

.tabs {
    padding-left: 50px;
}

#home {
    border: 1px solid #e6e6e6;
    background: #ffffff;
    margin-top: 30px;
    padding: 48px 20px 48px 0;
}

.dark-bg {
    background: #bdccd4;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    padding-left: 50px;
}

.text-center {
    text-align: center;
}

.u-bg {
    background: #f2f9f9 !important;
}

.btn-default {
    background: #de6840;
    color: white;
}

/* start of forum profile css */
#f-avatar {
    background: url('./images/img/r-alex-profile.png') no-repeat center center;
    width: 80px;
    height: 80px;
    border: 1px solid #dddbdb;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}

.threadWrapper {
    background: white;
    display:table;
    padding: 10px 0px;
    -moz-box-shadow: 0 0 5px #dddbdb;
    -webkit-box-shadow: 0 0 5px#dddbdb;
    box-shadow: 0 0 5px #dddbdb;
    border: 1px solid white;
    border-radius: 1.5pt;
    -webkit-border-radius: 1.5pt;
    -moz-border-radius: 1.5pt;
    margin: 10px;
}

.threadWrapper .circle {
    margin-top: 15px;
}

#fbody {
    background: #f0f0f0;
}
#f-title {
 text-align: justify;
 padding: 100px 0 40px 0;
}

.fu-info {
    padding-top: 10px;
    line-height: 10.8px;
    font-size: 14pt;
}

.fu-info a {
    text-decoration: none;
}

.p-style {
    padding-top: 30px;
}

.likes {
    text-align: right;
    padding-right: 20px;
}

.likes a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
.fa-stack:hover {
    cursor:pointer;
}
.tc-thumb {
    color: seagreen;
}

.tc-report {
    color: red;
}

.btn-thread {
    float: right;
    padding-right: 5px;
    margin-top: 10px;
}
/* end of forum profile css */

/* Forum css */

.content-wrapper {
    padding: 20px;
}

.threadWrapper a{
    text-decoration: none;
}

#fbody {
    background: #f0f0f0;
}

.fbody {
    background-color: #f0f0f0;;
}

table {
    box-shadow: 2px 2px 8px #999;
}

thead {
    background: #de6840;
    color: white;
}

.f-wrapper {
    padding: 0px 30px;
}

.f-wrapper a > h2, .f-wrapper a > h3 {
    padding-bottom: 20px;
}

.f-wrapper a {
    text-decoration: none;
    color: darkslategrey;
}

tbody tr {
    border: 1px solid #f0f0f0;
    background-color: white;
}

thead tr {
    margin-top: 40px;
}

.side-list {
    background-color: darkslategray;
    text-align: left;
}