<!DOCTYPE html>
{%  load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />


    <link rel="stylesheet" href="{% static "app/content/bootstrap.min.css"%}" />
    <link  rel="stylesheet" href="{%static 'app/main.css'%}"/>
    <link />
    <title></title>
</head>
<body>
    <div class="page-header">
	    <h1>MEET EXPATS IN TURKEY <small>Turkey conquered soon</small></h1>
    </div> 
   
    {% block main %}
        
    {% endblock %}
    <script src="{%static "app/scripts/jquery-1.10.2.js"%}"></script>
    <script src="{% static "app/scripts/bootstrap.min.js"%}"></script>
</body>
</html>